# Nim compiler cache
.nimcache/
nimcache/

# Build output
/jev_nim_client
/nimbledocs/

# Example binaries (nim c examples/foo.nim)
/examples/**/*
!examples/**/*.nim

# Example binaries (nim c examples/foo.nim)
/tests/**/*
!tests/**/*.nim

# Nimble lock (optional — commit if you want reproducible deps)
# nimble.lock

# Environment variables
.env

# Cursor IDE
.cursor/
.vscode/

# Binaries
src/jev_nim_client.out
